# Virtual Environment
.venv/
venv/
ENV/
env/
pyvenv.cfg

# Python Cache & Bytecode
__pycache__/
*.py[cod]
*.class
*.so

# IDE Configurations
.vscode/
.idea/
.DS_Store
Thumbs.db

# Dynamic / Generated Data
outputs/*.png
outputs/*.csv
